<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="bootstrap.min.css"/>
	</head>
	<body>
		<script src="https://cdn.jsdelivr.net/npm/vue"></script>
		<div id="app">
			<!--<h1>{{message}}</h1>-->
			<table class="table table-bordered table-striped">
				<tr><th>序号</th> <th>物品</th> <th>单价</th> <th>数量</th> <th>小计</th></tr>
				<tr v-for="(fruit,index) in goods">
					<!--插值与表达式-->
					<td>{{index+1}}</td>
					<td>{{fruit.name}}</td>
					<td>{{fruit.price}}</td>
					<td>
						<input type="number" min="0" :max="fruit.max" v-model="fruit.num"/>
					</td>
					<td>{{getMoney(index)}}</td>
				</tr>
				<tr>
					<td colspan="4">总计</td>
					<td>{{getTotalMoney()}}</td>
				</tr>
			</table>
		</div>
		<script type="text/javascript">
			var app=new Vue({
				//element 元素
				el:'#app',
				//el:document.getElementById('app'),
				data:{
//					message:'hello',
//					age:18,
//					books:['book1','book2','book3'],
					goods:[{
						name:'苹果',
						price:18.333,
						num:3,
						max:20
					},{
						name:'橘子',
						price:2,
						num:2,
						max:100
					}]
				},
				methods:{
					getMoney:function(i){
						return this.goods[i].price*this.goods[i].num;
					},
					getTotalMoney:function(){
						var sum=0;
						for(var i=0;i<this.goods.length;i++){
							sum+=this.goods[i].price*this.goods[i].num;
						}
						return sum;
					}
				}
			});
		</script>
	</body>
</html>
