<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<style>
			.result h2{
				text-align: center;
			}
		</style>
	</head>
	<body>
		<div id="app">
			<div class="edit" v-show="config.edited">
				<label for="name">姓名:</label><input id="name" type="text" v-model="person.name" />
				<label for="age">年龄:</label><input id="age" type="text" v-model="person.age" />
				<label for="job">应聘:</label><input id="job" type="text" v-model="person.job" />
				<label for="college">学校:</label><input id="college" type="text" v-model="person.college" />
				<label for="major">专业:</label><input id="major" type="text" v-model="person.college" />
				<br />
				<label for="fav">兴趣:</label><input id="fav" type="text" v-model="favTemp" @keyup.enter="addFav" placeholder="输入兴趣，回车添加！"/>
			</div>
			<div class="result">
				<button @click="config.edited=!config.edited">编辑简历</button>
				<h2>{{person.name}}的简历</h2>
				<dl>
					<dt>姓名</dt>
					<dd>{{person.name}}</dd>
					<dt>年龄</dt>
					<dd>{{person.age}}</dd>
					<dt>应聘</dt>
					<dd>{{person.job}}</dd>
					<dt>学校</dt>
					<dd>{{person.college}}</dd>
					<dt>专业</dt>
					<dd>{{person.major}}</dd>
					<dt>兴趣</dt>
					<dd v-for="item in person.fav">{{ item }}</dd>
				</dl>
			</div>
		</div>
		<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
		<script type="text/javascript">
			var app=new Vue({
				el:"#app",
				data:{
					favTemp:'',
					person:{
						name:'王海庆',
						age:18,
						job:'前端开发',
						college:'浙江邮电职业技术学院',
						major:'软件技术',
						fav:['羽毛球','编程','跑步'],
					},
					config:{
						edited:true,
					}
				},
				methods:{
					addFav:function(){
						if(this.favTemp!=""){
							this.person.fav.push(this.favTemp);
							this.favTemp="";
						}
					}
				}
			});
		</script>
	</body>
</html>
